:root{
    --primary-color: #1A535C ;
    --primary-color-dark: #171738;
    --secondary-color: #DEDEE0;
    --secondary-color-dark: #949B96;
    --letter-color: #4C5B61;
    --gold-color:#F9DB6D;
    --gray-color: #89909F;
    
}